.exersisesBlock {
    padding: 30px;
}

.exersise_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exersise {
    display: flex;
    align-items: center;
    gap: 10px;
}