@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";


html,
body {
    height: 100%;
}

.app {
    background: var(--bg-color);
    color: var(--color-primary-800);
    box-sizing: border-box;
    height: 100vh;
    font: var(--font-l);
    font-weight: 900;
    font-size: 20px;
}

