@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--color-primary-200);
    color: var(--color-bg);
    font: var(--font-l);
    font-weight: 900;
}

.page {
    flex-grow: 1;
}
