.CreateExerciseofCategoryPage {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 30px 10px 30px;
    background: var(--bg-color);
    height: 100%;
}

.createExercise {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.createExerciseBlock {
    display: flex;
    gap: 10px;
}

.exerciseBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    /* добавьте курсор указателя, чтобы визуально показать, что элемент кликабельный */
}

.backArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: var(--color-primary-800);
}

.title {
    font-size: 25px;
}

.exercises {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iconShow {
    display: block;
}

.icon {
    // display: none;
}

.menu {
    display: flex;
    gap: 10px
}