.CreateExerciseofCategoryPage {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    height: 100%;
}

.createExerciseHeader {
    padding: var(--padding-header);
    background: var(--bg-color);
    flex-shrink: 0;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleCategory {
    font-size: 25px;
    margin-bottom: 10px;
}

.exercises__group {
    padding: 20px 30px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.exercise__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitleExercise {
    padding: 2px 0;
}

.subtitleExercise__active {
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.menuFooter {
    padding: var(--padding-footer);
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    background: var(--bg-color);
    display: flex;
    gap: 10px;
}