.currentMonth {
  padding: 0 0 20px 12px;
  font-size: 30px;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 1px;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayName {
  margin-bottom: 5px;
}

.dayNames {
  color: var(--color-bg);
  font-size: 16px;
  font-weight: 600;
}

.day {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 45px;
  padding: 5px 0;
  border-radius: 10px;
  margin: 0 auto;
}

.daySelected {
  color: var(--color-bg);
  background: var(--color-accent);
}


.dayCurrentNotSelected {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.dayNotFromCurrentMonth {
  color: var(--color-primary-400)
}

.dayCurrentNotSelected::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--color-accent);
}

.dayNumberOtherMonth {
  color: var(--color-primary-600);
}