.exercise__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .shake {
//     animation: shake 0.4s;
//     animation-iteration-count: infinite;
// }

// @keyframes shake {
//     0% {
//         transform: rotate(0deg);
//     }

//     25% {
//         transform: rotate(5deg);
//     }

//     50% {
//         transform: rotate(0eg);
//     }

//     75% {
//         transform: rotate(-5deg);
//     }

//     100% {
//         transform: rotate(0deg);
//     }
// }

.subtitleExercise {
    padding: 2px 0;
}

.subtitleExercise__active {
    animation: fade 0.5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}