.exersise_item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: var(--color-primary-400);
    padding: 12px;
    border-radius: 16px;
    transition: transform 0.3s ease; 
}

.exercise {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center
}

.swiped {
    transform: translateX(-80px); 
    background: var(--color-error); 
}

.scheme {
    height: 24px;
    width: 24px
}

.title {
    box-sizing: border-box;
}
