.footer {
    padding: 20px 10px 35px 10px;
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    display: flex;
    gap: 10px;
    background: var(--color-primary-200);
}

.training__page {
    padding: 20px 10px 35px 10px;
}