.week {
    display: flex;
    justify-content: space-between;
}

.days {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    flex: 1;
}

.dayName {
    color: var(--color-primary-600);
    font-weight: 800;
}

.dayNumber {
    border-radius: 8px;
    text-align: center;
    padding-bottom: 3px;
}

.dayNumberActive {
    background-color: var(--color-primary-800);
    color: var(--color-primary-200);
}

.dayNumber:hover {
    background-color: var(--color-primary-800);
    color: var(--color-primary-200);
    cursor: pointer;
}