.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.week {
    display: flex;
    justify-content: space-between;
}

.days {
    display: flex;
    flex-direction: column;
}

.currentMonth {
    color: var(--color-bg);
    font-size: 30px;
    margin-left: 12px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

.daySelected {
    background: var(--color-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.dayCurrentNotSelected {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.dayCurrentNotSelected::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--color-accent);
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subTitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: -8px;
    color: var(--color-bg)
}