.Dekstop {
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-direction: column;
}

.info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px
}

.manual {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 80px;

}

.manual__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	font-weight: 600;
	color: var(--color-primary-600);
	font-size: 25px;
}

.icon {
	color: var(--color-accent)
}

.manual__item {
	display: flex;
	align-items: center;
	gap: 10px
}

.title {
	font-size: 30px;
	line-height: 40px;
}

.title1 {
	font-weight: 500;
	color: var(--color-primary-600)
}

.subtitle {
	font-weight: 500;
	color: var(--color-primary-600)
}

.manual__platform {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer {
	padding: 15px 0;
	flex-shrink: 0;
}

.creator {
	color: var(--color-accent);
	cursor: pointer;
	font-weight: 700;
}

.creator:hover {
	transition: 0.8s;
	color: #f6dacf;
}

.figure {
	color: var(--color-accent);
}