.TrainingPage {
    display: flex;
    flex-direction: column;
}

.trainingBlock {
    flex-grow: 1;
}

.calendarBlock {
    background: var(--color-primary-200);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 20px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.theme {
    padding-bottom: 5px;
}

.calendarMore {
    margin-bottom: 10px;
}

.calendarMoreBtn {
    margin: 0 auto;
    height: 10px;
    width: 70px;
    border-radius: 10px;
    background: var(--color-primary-600)
}

.calendarSmallHidden {
    display: none;
}


.settingBlock {
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.moreInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: var(--color-primary-600);
    flex-shrink: 0;
}

.moreInfoCircle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: var(--color-primary-200)
}

.moreInfo:hover,
.moreInfo:active {
    background-color: var(--color-primary-800);
    transition: background-color 0.2s;
}

.theme {
    display: flex;
    justify-content: flex-end;
}
