.category__item {
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.category__current {
    background: var(--color-accent);
}

.title {
    font-weight: 700;
}

.scheme {
    height: 24px;
    width: 24px
}