.workout_block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 5px;
	align-items: center;
}

.exercise_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.set_title {
	color: var(--color-primary-600);
	font-weight: 700;
}

.addSet_title {
	color: var(--color-primary-600);
	font-weight: 600;
	font-size: 18px;
	padding: 5px 20px;
}