.workout_block {
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
	padding: 0 12px 5px 12px;
	align-items: center;
}

.exercise_info {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.set_title {
	color: var(--color-primary-600);
	font-weight: 700;
}

.set_info {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;

}

.addSet {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-weight: 700;
	font-size: 16px;
	color: var(--color-accent);
	opacity: 0.8;
}

.disabled {
	color: var(--color-primary-600)
}