.AddExercisePage {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 10px 10px 10px;
    background: var(--color-primary-200);
    height: 100%;

}

.exercisesBlock {
    flex-grow: 1;
}