.AddExercisePage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 10px 10px 10px;
    background: var(--color-primary-200);
    height: 100%;
}

.footer {
    padding: 20px 0 10px 0;
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    display: flex;
    gap: 10px;
    background: var(--color-primary-200);
}