.exersise_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.exersise {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #282828;
    padding: 12px;
    border-radius: 16px;
}

.title {
    font-weight: 700;
    color: var(--color-primary-white)
}