.menu {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.additional__button {
    border-radius: 50%;
    align-items: flex-end;
    background: var(--color-primary-400);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.element {
    opacity: 1;
    // width: 100%;
    flex-grow: 1;
    /* или любая другая начальная ширина */
    transition: opacity 0.3s ease, width 0.3s ease;
    /* плавная анимация для opacity и width */
}

.element.hidden {
    opacity: 0;
    width: 0;
    /* ширина элемента становится 0 при скрытии */
    pointer-events: none;
    /* отключаем события мыши */
}