.app.dark {
    --color-primary-white: #F2F2F2;
    --color-primary-black: #161618;

    --color-bg: #F2F2F2;

    --color-primary-200: #161618;
    --color-primary-400: #282828;
    --color-primary-600: #5c5c5c;
    --color-primary-800: #F2F2F2;

    --color-accent: #eb6f3e;

    --color-category-stretching: #EDD4BA;
    --color-category-hand: #B5EEC0;
    --color-category-back: #E9C1F2;
    --color-category-cardio: #BAE1EB;
    --color-category-chest: #CCC8F0;
    --color-category-shoulders: #E9F0C8;
    --color-category-legs: #F0B7B7;
    --color-category-abs: #B7C9F0;
}