.app.dark {
    --color-primary-white: #F2F2F2;
    --color-primary-black: #161618;

    --color-bg: #F2F2F2;

    --color-primary-200: #161618;
    --color-primary-400: #282828;
    --color-primary-600: #888888;
    --color-primary-800: #F2F2F2;

    --color-accent: #eb6f3e;
    --color-error: #CC3300;
}