.app.light {
    --bg-color: #F2F2F2;

    --color-primary-200: #FEFEFE;
    --color-primary-400: #F3F3F3;
    --color-primary-600: #D4D4D4;
    --color-primary-800: #282D34;

    --color-accent-200: #a5ccee;
    --color-accent-400: #a5ccee;
    --color-accent-600: #77b4e9;
    --color-accent-800: #66adec;
    // neutral
    // feedback (error, warning, success)
}