.app.light {
    --color-primary-white: #F2F2F2;
    --color-primary-black: #161618;

    --color-bg: #161618;

    --color-primary-200: #e2e1e1;
    --color-primary-400: #d0cfcf;
    --color-primary-800: #161618;

    --color-accent: #66adec;
    --color-error: #CC3300;
}