.app.light {
    --color-primary-white: #F2F2F2;
    --color-primary-black: #161618;

    --color-bg: #161618;

    --color-primary-200: #ebeaea;
    --color-primary-400: #e7e5e5;
    --color-primary-800: #E9E9EB;

    --color-accent: #66adec;
    --color-error: #CC3300;
}