summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

.info__block {
	background: var(--color-primary-400);
	border-radius: 16px;
}

.info__title {
	width: 100%;
}

.info__text {
	padding: 10px 20px;
}

.subtitle {
	font-size: 18px;
	font-weight: 700;
}