.AuthPage {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.textTitle {
    font-size: 32px;
    text-align: center;
}

.authBlock {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.authInput {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.authButton {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: container 2s infinite;
}

.logo__block {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-grow: 1;
	height: 100px;
	width: 100px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 30px
}